    <div ng-controller="DemoBasicCtrl as ctrl" ng-cloak="" class="menuBardemoBasicUsage" ng-app="MyApp">
      <md-toolbar class="md-menu-toolbar">
        <div layout="row">
          <md-toolbar-filler layout="" layout-align="center center">
            <md-icon md-svg-icon="call:chat"></md-icon>
          </md-toolbar-filler>
    
          <div>
            <h2 class="md-toolbar-tools">Untitled document</h2>
            <md-menu-bar>
              <md-menu>
                <button ng-click="$mdOpenMenu()">
                  File
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                      Share...
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-menu>
                      <md-button ng-click="$mdOpenMenu()">New</md-button>
                      <md-menu-content>
                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="ctrl.sampleAction('Open', $event)">
                      Open...
                      <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button disabled="disabled" ng-click="ctrl.sampleAction('Rename', $event)">
                      Rename
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="ctrl.sampleAction('Print', $event)">
                      Print
                      <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-bar>
          </div>
        </div>
      </md-toolbar>
    
      <md-content class="page-container">
        <md-card class="page">
          <h1>Untitled document</h1>
          Page Content  
        </md-card>
      </md-content>
    </div>