/* app css stylesheet */

body {
  height: 100vh;
  width: 100vw;
}

.inverse{
  background-color: #222222;
  color: #FFFFFF;
}

#container{
  height: 100%;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

/* Toggle Styles */ 	
  #wrapper {
      padding-right: 265px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
      padding-right: 15px;
  }
  
  #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      right: 250px;
      width: 250px;
      height: calc(100% - 50px);;
      margin-right: -250px;
      overflow-y: auto;
      background: #000;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  
  #sidebar-content{
    height: 100%;
    padding: 15px;
    color: #FFFFFF;
  }
  
  #wrapper.toggled #sidebar-wrapper {
      width: 0px;
  }
  
  #page-content-wrapper {
      width: 100%;
      padding: 0;
      position: relative;
  }
  
  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

  #chat-toggle {
    padding: 15px;
  }
  
  .glyphicon.glyphicon-comment {
    font-size: 20px;
    color: #BF1E2D;
  }
  
  #sidebar-header{
      padding: inherit;
      height: 50px;
  }
   
  #sidebar-main{
       height: calc(100% - 100px);
       overflow: scroll;
  }
   
  #sidebar-footer{
       height: 50px;
       padding: inherit;
  }
   
  #message_input {
    width: 100%;
    border-radius: 2px;
  }
  

/* Home Page Styles */
.gameOption {
  height: 400px;
}

.well.gameOption{
  border-radius: 15px;
  text-align: center;
}

a.gameOption {
  text-decoration: none;
}


/* TicTac Page Styles */
.well.tictac {
  height: 500px;
  width: 500px;
  border-radius: 15px;
}

table.tictac {
    border-collapse: collapse;
    border-style: hidden;
    height: 100%;
}

tr.tictac td.tictac {
    border: 5px solid white;
}


/* COnnect4 Page Styles */
.well.connect4 {
  height: 500px;
  width: 575px;
  border-radius: 15px;
}

table.connect4 {
    background-color: #FFFFFF; 
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
}


/* BlackJack Page Styles */
