/* app css stylesheet */

body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.inverse{
  background-color: #222222;
  color: #FFFFFF;
}

#container{
  height: 100%;
  width: 100%;
}

.nav {
  height: 50px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; 
}

#page-content-wrapper {
  height: 100%
}

.page {
  height: calc(100% - 100px);
}

.pageLoad {
  height: 100%;
}

/* Toggle Styles */ 	
  #wrapper {
      height: calc(100% - 50px);
      padding-right: 265px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
      padding-right: 15px;
  }
  
  #sidebar-wrapper {
      height: calc(100% - 50px);
      z-index: 1000;
      position: fixed;
      right: 250px;
      width: 250px;
      height: calc(100% - 50px);;
      margin-right: -250px;
      overflow-y: auto;
      background: #000;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  
  #sidebar-content{
    height: 100%;
    padding: 15px;
    color: #FFFFFF;
  }
  
  #wrapper.toggled #sidebar-wrapper {
      width: 0px;
  }
  
  #page-content-wrapper {
      width: 100%;
      padding: 0;
      position: relative;
  }
  
  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

  #chat-toggle {
    padding: 15px;
    height: 50px;
  }
  
  .glyphicon.glyphicon-comment {
    font-size: 20px;
    color: #BF1E2D;
  }
  
  #sidebar-header{
      padding: inherit;
      height: 50px;
  }
   
  #sidebar-main{
       height: calc(100% - 100px);
       overflow: scroll;
  }
   
  #sidebar-footer{
       height: 50px;
       padding: inherit;
  }
   
  #message_input {
    width: 100%;
    border-radius: 2px;
  }
  

/* Home Page Styles */
.gameOption {
  height: 100%;
}

.well.gameOption{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.gameOption > a{
  text-decoration: none;
}

.gameOption > img {
  display: block;
  margin: 0 auto;
}

/* TicTac Page Styles */
.well.tictac {
  height: 100%;
  width: 500px;
  border-radius: 15px;
}

table.tictac {
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
}

tr.tictac td.tictac {
    border: 5px solid white;
}


/* Connect4 Page Styles */
.well.connect4 {
  height: 100%;
  width: 575px;
  border-radius: 15px;
}

table.connect4 {
    background-color: #FFFFFF; 
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
}


/* Battleship Page Styles */
.well.battleship {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.battleship.board {
  height: 100%;
}

table.battleship {
    height: 100%;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: #FFFFFF;
}

table.battleship.opponent {
  background-image: url("radar.png");
  background-size: cover;
}

tr.battleship td.battleship {
    border: 1px solid white;
    width: calc(100% / 11);
}
