<div class="pageLoad">
	
	<div class="well battleship inverse">
		<div class="battleship board col-xs-6">
			<table class="battleship player">
				<tr class="battleship">
					<td class="battleship" ng-repeat="x in xvalues">{{x}}</td>
				</tr>
				<tr class="battleship" ng-repeat="y in range(1,10)">
					<td class="battleship">{{y}}</td>
					<td class="battleship" ng-repeat="i in range(1,10)">{{}}</td>
				</tr>
	
			</table>
		</div>
		
		<div class="battleship board col-xs-6">
			<table class="battleship opponent">
				<tr class="battleship">
					<td class="battleship" ng-repeat="x in xvalues">{{x}}</td>
				</tr>
				<tr class="battleship" ng-repeat="y in range(1,10)">
					<td class="battleship">{{y}}</td>
					<td class="battleship" ng-repeat="i in range(1,10)">{{}}</td>
				</tr>
	
			</table>
		</div>
	</div>
	
</div>