<div class="pageLoad">
	
	<div class="col-xs-6 leadersboard">
		<div class="leaders well inverse">
			<h2 class="leaders">All-Time Leaders</h2>
			
			<table class="table leaders">
				
				<tr class="leaders" ng-repeat="i in [1,2,3,4,5]">
					<td class="leaders">{{i}}</td>
					<td class="leaders" ng-repeat="j in [1,2,3]">{{}}</td>
				</tr>
	
			</table>
		</div>
	</div>
	
	<div class="col-xs-6 leadersboard">
		<div class="leaders well inverse">
			<h2 class="leaders">Current Leaders</h2>
			
			<table class="table leaders">
				
				<tr class="leaders" ng-repeat="i in [1,2,3,4,5]">
					<td class="leaders">{{i}}</td>
					<td class="leaders" ng-repeat="j in [1,2,3]">{{}}</td>
				</tr>
	
			</table>
		</div>
	</div>
	
</div>