<div class="pageLoad">
	
	<div class="col-xs-4 gameOption">
		<a class="gameOption" href="#/tictac">
			<div class="well gameOption inverse">
				<img src="photos/tictac.png" height="200px" width="200px">
				<h2>Tic-Tac-Toe</h2>	
			</div>
		</a>
	</div>
	
	<div class="col-xs-4 gameOption">
		<a class="gameOption" href="#/connect4">
			<div class="well gameOption inverse">
				<img src="photos/connect4.png" height="200px" width="200px">
				<h2>Connect 4</h2>	
			</div>
		</a>
	</div>
	
	<div class="col-xs-4 gameOption">
		<a class="gameOption" href="#/battleship">
			<div class="well gameOption inverse">
				<img src="photos/battleship.png" height="200px" width="200px">
				<h2>Battleship</h2>	
			</div>
		</a>
	</div>
	
</div>