<div class="pageLoad">
	
	<div class="col-xs-3"></div>
	
	<div class="col-xs-6 leadersboard">
		<div class="leaders well inverse">
			<h2 class="leaders">All-Time Leaders</h2>
			
			<table class="table leaders">
				
				<tr class="leaders" ng-repeat="player in leadersArray | orderBy:'-score' | limitTo:5">
					<td class="leaders">{{$index + 1}}</td>
					<td class="leaders">{{player.name}}</td>
					<td class="leaders">{{player.score}}</td>
				</tr>
	
			</table>
		</div>
	</div>
	
	<div class="col-xs-3"></div>
	
</div>