<div>
    <form class="form-horizontal">
        <div class="form-group">
               
            <div class="col-xs-9">
                <input type="text" class="form-control" placeholder="Enter username" autocomplete="off" required ng-model="username">
            </div>
              
            <div class="col-xs-3 login">
                <button class="btn btn-default" ng-click="newPlayer(username)" data-dismiss="modal">Start Playing</button>
            </div>
              
        </div>
    </form>
</div>