<div class="pageLoad">
	
	<div class="col-xs-6 roomOption col">
		<div class="roomOption well inverse" ng-click="showNew=true; showJoin=false">
			
			<h2 class="roomOption">Start New Game</h2>
			
			<div ng-show="showNew" class="showNew">
				<div class="col-sm-12 form-inline">
					<input type="text" class="form-control" placeholder="Enter room name" required autofocus ng-model="roomname">
					
					<button class="btn btn-default" ng-click="newRoom(roomname)">Create</button>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="col-xs-6 roomOption col">
		<div class="roomOption well inverse" ng-click="showJoin=true; showNew=false;">
			
			<h2 class="roomOption">Join Current Game</h2>
			
			<div ng-show="showJoin">
				<table class="table joinRooms">

					<tr class="joinRooms" ng-repeat="room in filteredRooms = (rooms | filter:gameId)">
						<td class="joinRooms"><a href="#/{{gameId}}/:{{room.id}}" ng-click="joinRoom({{room.id}});">{{room.name}}</a></td>
						<td class="joinRooms"><i>against {{room.p1Name}}</i></td>
					</tr>
					<tr class="joinRooms red"ng-hide="filteredRooms.length">
						<td>No Open Rooms!</td>
					</tr>
				</table>    			
			</div>
			
		</div>	
	</div>
	
</div> <!--/pageLoad-->
